.pa-width {
  display: block;
  max-width: 83.3333333333%;
  flex: 0 0 83.3333333333%;
  margin: 0 auto 100px;
}

.pa-pay {
  padding: 20px;
  margin-top: 20px;
  background: #fff;
}

.pa-pay-title {
  font-size: 32px;
  color: #333;
  margin-bottom: 40px;
}

.pa-je {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-bottom: 16px;
  margin-right: 16px;
  justify-content: flex-end;
}

.pa-ac {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pa-rr {
  font-size: 32px;
  margin-right: 16px;
  color: #ce0e2d;
}

.pa-order {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-left: 40px;
}

.pa-order-detail {
  height: 154px;
  overflow: hidden;
  transition: height .3s;
}

.pa-order-de-main {
  height: 90px;
  padding: 16px 20px;
  margin-top: 24px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pa-order-row {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  font-size: 14px;
}

.pa-pay-way {
  padding: 0 20px;
  margin-top: 12px;
  display: block;
}

.pa-pay-way-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pa-pw-main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 14px;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  display: inline-block;
  line-height: unset;
}

.pa-pw-label {
  background: #ebf3ff!important;
  color: #328dff;
  margin-right: 8px;
  border-radius: 16px;
  font-size: 14px;
  border: none;
  box-shadow: none!important;
  line-height: 38px;
  z-index: 1;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  cursor: pointer;
  transition: color .3s,background .3s,border-color .3s;
}

.pa-flex {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.pa-qrcode-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 144px;
  border-radius: 8px;
  border: 2px solid #e8e8e8;
}

.pa-how {
  color: #333;
  font-size: 16px;
  font-weight: 700;
}
