.p-main {
  background-image: url("../assets/personal.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 272px;
  padding: 0;
}

.p-info {
  width: 86%;
  height: 149px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.p-head {
  width: 84px;
  margin-right: 28px;
  display: block;
  box-sizing: border-box;
  flex: 0 0 auto;
  float: left;
  max-width: none;
  position: relative;
  min-height: 1px;
}

.p-name {
  display: block;
  box-sizing: border-box;
  flex: 0 0 auto;
  float: left;
  width: 45.8%;
  position: relative;
  min-height: 1px;
}

.p-nick {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.p-nickname {
  font-size: 24px;
  color: #333;
  letter-spacing: 0;
  line-height: 32px;
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 32px;
}

.p-level {
  font-weight: 500;
  font-size: 14px;
  color: #d85700;
  text-align: center;
  line-height: 24px;
  margin-left: 8px;
  white-space: nowrap;
}

.p-profile {
  font-size: 14px;
  color: #777;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 72px;
}

.p-edit {
  background-image: url("../assets/edit.png");
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  display: inline-block;
  cursor: pointer;
  flex: 0 0 auto;
}

.p-medal {
  margin-top: 12px;
  height: 40px;
  white-space: nowrap;
}

.p-medal-img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  cursor: pointer;
  vertical-align: middle;
  border-style: none;
}

.p-star {
  display: block;
  box-sizing: border-box;
  flex: 0 0 auto;
  float: right;
  max-width: 45.8%;
  min-height: 1px;
}

.p-danner {
  margin-top: 41px;
  height: 64px;
}

.p-danner-m {
  float: right;
  margin-left: 56px;
  cursor: pointer;
}

.p-num {
  font-size: 32px;
  color: #333;
  letter-spacing: 0;
  line-height: 40px;
}

.p-follow {
  font-size: 14px;
  color: #777;
  letter-spacing: 0;
  line-height: 24px;
}

.pe-btn {
  float: right;
  margin-right: 0;
  margin-top: 16px;
  font-size: 13px;
  color: #333;
  letter-spacing: 0;
  text-align: center;
  line-height: 16px;
}

.pe-btn-btn {
  background: #fff;
  border-radius: 25.5px;
  width: 120px;
  height: 48px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.p-tag {
  background: hsla(0,0%,100%,.2);
}

.p-tag-main {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex: auto;
  align-self: stretch;
  overflow: hidden;
  white-space: nowrap;
  transform: translate(0);
}

.p-cart {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  background: transparent;
  border: 0;
  outline: none;
  color: rgb(110, 105, 105);
  cursor: pointer;
  padding: 16px 0;
  text-align: center;
  margin: 0 40px 0 0;
}

.p-cart-select {
  color: black;
  border-bottom: 1px solid black;
}

.p-medal-main {
  width: auto;
  max-height: 410px;
  overflow-y: auto;
}

.p-medal-list {
  display: inline-block;
  margin-right: 32px;
  margin-bottom: 16px;
  width: 236px;
  height: 216px;
  text-align: center;
  vertical-align: top;
}

.p-img-com {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.p-img-h5 {
  -webkit-line-clamp: 1;
  margin: 0 8px 8px;
  font-size: 16px;
  font-weight: 600;
  color: #43474c;
  letter-spacing: .12px;
  line-height: 24px;
  max-height: 24px;
}

.p-img-h6 {
  -webkit-line-clamp: 2;
  margin: 0 8px;
  font-size: 12px;
  color: #777;
  letter-spacing: .09px;
  line-height: 16px;
  min-height: 32px;
  max-height: 32px;
}
