.v-main {
  background-color: #f7f7f7;
}

.v-center {
  margin-top: 30px;
  position: relative;
  transition: opacity .3s;;
}

.vc-top {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 40px;
}

.vc-main {
  margin-top: 15px;
  padding: 30px;
  background-color: #FFF;
}
